.card-title{
    color: white;
}

.channelVidcard{
    margin-bottom: 0rem;
    margin-left: 1rem;
}
.card-body{
    padding: 0rem 1rem;
}
.channelVidCarTitle{
    color: #adadad !important;
    transition: 0.4s ;
    text-decoration: none !important;
}
.channelVidCarTitle:hover{
    color: white !important;
    text-decoration: underline !important;

}